/*
colors

#f2f2f2
#ef4c4c
#131313
#000000
*/

body, html {
    height: 100%;
    background-color: #171919;
    color: #f2f2f2;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
}

a {
  color: #eeeeee;
} 
a:hover {
  color: #949494;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  margin: 15px 15px;
  color: #eeeeee;
  cursor: pointer;
  transition: color .2s ease;
}
.icon:hover {
  color: #949494;
}

.projects, .skills {
  color: #131313;
  background-color: #fff;
}

.skills {
  background-color: #eeeeee; 
}
.skills-logos {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  margin-bottom: 25px;
}
.logo {
  display: inline-block;
  margin: 0 25px 15px 25px;
  text-align: center;
  max-width: 90px;
}
.logo img {
  border: none;
  width: 91px;
}
.header:after {
  display: block;
  height: 1px;
  background-color: #131313 ;
  content: '';
  width: 100px;
  margin: 20px auto;
  margin-bottom: 50px;
}
.skills {
  padding: 0 80px 80px 80px;
}

@media only screen and (max-width: 768px) {
  .header:after {
    margin-bottom: 20px;
    margin-top: 15px;
  }
  .logo {
    margin: 0px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .skills {
    padding: 0 10px 10px 10px;
  } 
}

hr.line {
  width: 95%;  
  border-top: none !important;
  background-image: linear-gradient(to right, rgb(255,255,255), rgb(20,20,20), rgb(255,255,255));
  height: 1px;
}
.wrapper {
  color: #313131;
  /*border: 1px solid #000;*/
  padding: 0 2% 2% 2%;
  margin: 35px auto;
}
img {
  border: 1px solid #131313;
  border-radius: 2px;
}

.head, .projects {
  min-height: 100vh;
}

.links a {
  margin: 0 10px;
}

.social {
  margin: 15px 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image-wrapper, .image-options {
  margin-top: 10px;
}
.image-options a, .image-options button {
  background-color: #ffffff;
  border: 1px solid black;
  color: #131313;
  border-radius: 0;
  position: relative;
}

.about-text {
  margin: 20px auto;
  font-size: 1.3em;
  line-height: 1.6;
}

@keyframes point-down {
  from {top: 0;}
  to {opacity: 1; top: 50px;}
}
#goto-projects {
  opacity: 0;
  position: relative;
  animation-name: point-down;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@media only screen and (max-width: 768px) {
  .fa-4x {
    font-size: 2em;
  }
  #goto-projects {
    font-size: 4em;
  }
}

form {
  margin: 10px;
}
input, textarea {
  margin-bottom: 10px;
  width: 100%;
  color: #131313;
  padding: 4px;
}
input[type="submit"] {
  width: 100px;
}

@media only screen and (max-width: 768px) {
  input[type="submit"] {
    width: 100%;
  }
}

.copyright {
  text-align: center;
  font-size: 50%;
  margin: 10px;
}

a.btn, button.image-choice {
  overflow: hidden;
}
a.btn:hover, button.image-choice:hover{
  background-color: #ffffff;
}
a.btn:before, button.image-choice:before{
  content: '';
  background: #131313;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: .3s cubic-bezier(0.5,0,0.5,1);
}
a.btn:hover:before, button.image-choice:hover:before{
  transform: translateY(-100%);
}