/*
colors

primary: #199CD5;
secondary: #FF8213;
white: #F0F3F0;
black: #333333;
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400,300);

html {
  overflow-y: scroll;
}

body {
    height: 100%;
    background-color: #FFFFFF;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px !important;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
p {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.heading {
  color: #454545;
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 40px;
}

.head .heading {
  color: #f0f3f0;
}

.subheading {
  color: #454545;
  font-size: 30px;
  font-weight: 300;
  line-height: 1;
}

.emphasis {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 40px;
}

.subemphasis {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
}

p {
  margin: 10px 0px;
}

/* Default Links */

a {
color: #FF8213;
} 
a:hover {
  color: #FF8213;
}

footer a {
  color: #F0F3F0;
}

footer a:hover {
  color: #ff6214;
}

/* Icons/Horizontal Rules */

.icon {
  margin: 15px 15px;
  color: #FF8213;
  cursor: pointer;
  transition: color .2s ease;
}
.head .icon, footer .icon {
  color: #F0F3F0;
}
.icon:hover {
  color: #ff6214;
}

.skills-logos {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  margin-bottom: 25px;
}
.logo {
  display: inline-block;
  margin: 0 25px 15px 25px;
  text-align: center;
  max-width: 90px;
}
.logo img {
  border: none;
  width: 91px;
}

@media only screen and (max-width: 768px) {
  .logo {
    margin: 0px;
    margin-right: 5px;
    margin-left: 5px;
  } 
}

hr {
  background-color: #555555;
  height: 1px;
}

/* Default Header/Footer/Sections */

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #199CD5;
  color: #F0F3F0;
  min-height: 100vh;
}

footer {
  width: 100%;
  background-color: #199CD5;
  color: #EEEEEE;
  padding-top: 20px;
  padding-bottom: 20px;
}

.wrapper, section {
  margin-bottom: 40px;
}
.wrapper:last-child {
  margin-bottom: 0;
}

img {
  border: 1px solid #555;
  border-radius: 2px;
}

.links a {
  margin: 0 10px;
}

.social {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image-wrapper, .image-options {
  margin-top: 10px;
}
.image-options a, .image-options button {
  background-color: #F0F3F0;
  border: 1px solid #454545;
  color: #333333;
  border-radius: 2px;
  position: relative;
  text-align: center;
  padding: 10px 12px;
  line-height: 1.4;
  font-size: 18px;
}

.button {

}

@keyframes point-down {
  from {top: 0;}
  to {opacity: 1; top: 50px;}
}

#goto-projects {
  opacity: 0;
  position: relative;
  animation-name: point-down;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@media only screen and (max-width: 767px) {
  #goto-projects {
    opacity: 1;
    animation: none;
  }
};

/* Form element */

form {
  margin: 10px;
}
input, textarea {
  margin-bottom: 10px;
  width: 100%;
  padding: 4px;
}
input[type="submit"] {
  width: 100px;
}

@media only screen and (max-width: 768px) {
  input[type="submit"] {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .fa-4x {
    font-size: 2.5em;
  }
}


